/* [project]/styles/hin115_font_6a96d1c0.module.css [app-client] (css) */
@font-face {
  font-family: hin115_font;
  src: url("/_next/static/media/hin115-s.p.76fef294.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: hin115_font Fallback;
  src: local(Arial);
  ascent-override: 80.05%;
  descent-override: 36.45%;
  line-gap-override: 0.0%;
  size-adjust: 111.93%;
}

.hin115_font_6a96d1c0-module__mSZJUG__className {
  font-family: hin115_font, hin115_font Fallback;
}


/* [project]/styles/hin115_font_6a96d1c0.module.css [app-client] (css) */
@font-face {
  font-family: hin115_font;
  src: url("/_next/static/media/hin115-s.p.76fef294.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: hin115_font Fallback;
  src: local(Arial);
  ascent-override: 80.05%;
  descent-override: 36.45%;
  line-gap-override: 0.0%;
  size-adjust: 111.93%;
}

.hin115_font_6a96d1c0-module__mSZJUG__className {
  font-family: hin115_font, hin115_font Fallback;
}


/* [project]/styles/ing115_font_892ad6ef.module.css [app-client] (css) */
@font-face {
  font-family: ing115_font;
  src: url("/_next/static/media/ing115-s.p.6978798e.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: ing115_font Fallback;
  src: local(Arial);
  ascent-override: 99.16%;
  descent-override: 27.18%;
  line-gap-override: 0.0%;
  size-adjust: 107.8%;
}

.ing115_font_892ad6ef-module__hMlG3q__className {
  font-family: ing115_font, ing115_font Fallback;
}


/* [project]/styles/ing115_font_892ad6ef.module.css [app-client] (css) */
@font-face {
  font-family: ing115_font;
  src: url("/_next/static/media/ing115-s.p.6978798e.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: ing115_font Fallback;
  src: local(Arial);
  ascent-override: 99.16%;
  descent-override: 27.18%;
  line-gap-override: 0.0%;
  size-adjust: 107.8%;
}

.ing115_font_892ad6ef-module__hMlG3q__className {
  font-family: ing115_font, ing115_font Fallback;
}


/* [project]/styles/bangla115_font_bc1c811b.module.css [app-client] (css) */
@font-face {
  font-family: bangla115_font;
  src: url("/_next/static/media/bangla115-s.p.2e783cc1.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: bangla115_font Fallback;
  src: local(Arial);
  ascent-override: 77.66%;
  descent-override: 34.56%;
  line-gap-override: 0.0%;
  size-adjust: 118.07%;
}

.bangla115_font_bc1c811b-module__o0-l3G__className {
  font-family: bangla115_font, bangla115_font Fallback;
}


/* [project]/styles/bangla115_font_bc1c811b.module.css [app-client] (css) */
@font-face {
  font-family: bangla115_font;
  src: url("/_next/static/media/bangla115-s.p.2e783cc1.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: bangla115_font Fallback;
  src: local(Arial);
  ascent-override: 77.66%;
  descent-override: 34.56%;
  line-gap-override: 0.0%;
  size-adjust: 118.07%;
}

.bangla115_font_bc1c811b-module__o0-l3G__className {
  font-family: bangla115_font, bangla115_font Fallback;
}


/* [project]/styles/telugu115_font_3d82fe9b.module.css [app-client] (css) */
@font-face {
  font-family: telugu115_font;
  src: url("/_next/static/media/telugu115-s.p.e520fc85.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: telugu115_font Fallback;
  src: local(Arial);
  ascent-override: 68.02%;
  descent-override: 37.8%;
  line-gap-override: 0.0%;
  size-adjust: 127.77%;
}

.telugu115_font_3d82fe9b-module__R2qDOq__className {
  font-family: telugu115_font, telugu115_font Fallback;
}


/* [project]/styles/telugu115_font_3d82fe9b.module.css [app-client] (css) */
@font-face {
  font-family: telugu115_font;
  src: url("/_next/static/media/telugu115-s.p.e520fc85.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: telugu115_font Fallback;
  src: local(Arial);
  ascent-override: 68.02%;
  descent-override: 37.8%;
  line-gap-override: 0.0%;
  size-adjust: 127.77%;
}

.telugu115_font_3d82fe9b-module__R2qDOq__className {
  font-family: telugu115_font, telugu115_font Fallback;
}


/*# sourceMappingURL=styles_d810fa._.css.map*/
